.mo-navbar {
    display: flex;
    align-items: center;
}

.nav-li {
    margin: 0 7px;

    @include lg {
        margin: 0 12px;
    }

    &.xs-li {
        display: none;

        @include md {
            display: flex;
            justify-content: center;


            &.call {
                margin-top: 50px;
            }
        }
    }
}

.nav-anchor {
    font-size: 17px;
    font-family: med;
    color: $text;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:focus {
        color: $header;
    }
}


.sec-nav-ul {
    display: flex;
    align-items: center;
}

.sec-nav-li {
    margin-left: 14px;

    @include lg {
        margin-left: 24px;
    }


}

.sec-nav-h {
    font-size: 15px;
    font-family: bold;
    color: $text;
}

.sec-nav-anchor {
    color: $sec-nav;
    font-size: 15px;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:focus {
        color: $header;
    }
}