.sliders-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 0 15px;

    @include xs {
        padding: 0;
        margin: 20px 0;
    }

    .slider-title {
        font-size: 22px;
        font-family: bold;
        color: $text;

        @include xs {
            font-size: 20px;
            text-align: center;
        }
    }

    .more {

        font-size: 16px;
        color: $grey;
        font-family: med;
        @include transition(all 0.3s ease-in-out);

        &:hover,
        &:focus {
            color: $red;
        }
    }
}

.slider-cont {
    .sliders-head {
        flex-direction: column;
        margin: 0;
        justify-content: center;
        min-width: 260px;
        min-height: 100%;

        .slider-title {
            color: #fff;
            margin-bottom: 30px;

            @include xs {
                margin-bottom: 0;
                color: $text;
            }
        }

        .more {
            width: 118px;
            height: 32px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: $text;

            @include xs {
                width: auto;
                height: auto;
                border-radius: 0;
            }
        }

        @include xs {
            background-color: transparent;
            flex-direction: row;
            justify-content: space-between;
            min-width: auto;
            min-height: auto;
            padding: 0;
            margin: 20px 0;
        }
    }

    &:nth-of-type(1) {
        .sliders-head {
            background-color: #9fd040;

            @include xs {
                background-color: transparent;
            }
        }
    }

    &:nth-of-type(2) {
        .sliders-head {
            background-color: #ff544d;

            @include xs {
                background-color: transparent;
            }
        }
    }

    &:nth-of-type(3) {
        .sliders-head {
            background-color: #7cbeee;

            @include xs {
                background-color: transparent;
            }
        }
    }

    &:nth-of-type(4) {
        .sliders-head {
            background-color: #fd8c3e;

            @include xs {
                background-color: transparent;
            }
        }
    }

    &:nth-of-type(5) {
        .sliders-head {
            background-color: #ffa62e;

            @include xs {
                background-color: transparent;
            }
        }
    }
}