header {
    nav {
        @include md {
            background-color: rgb(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99999;
            margin: 0;
            display: none;

            .mo-navbar {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 999;
                background-color: #fff;
                width: 280px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 70px 25px;
                right: 0;
                transform-origin: right;
                transform: scaleX(0);
                overflow-y: auto;
                @include transition(all 0.5s ease-in-out);

                #{$ltr} & {
                    transform-origin: left;
                    left: 0;
                    right: auto;
                }

                &.nav-in {
                    transform: scaleX(1);
                }

                .log-li {
                    >.nav-anchor {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:after {
                            font-size: 11px;
                            content: "\f0d7";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 11px;
                        }
                    }
                }

                .xs-log {
                    padding: 0 15px;
                    display: none;

                    .nav-li {
                        margin: 7px 0;
                    }

                    .nav-anchor {
                        font-size: 16px;
                        font-family: med;
                        color: #1a1a1a;
                    }
                }

                li {
                    &.cats-menu {
                        order: 3;
                    }

                    &:nth-of-type(2) {
                        order: 1;
                    }

                    &:nth-of-type(3) {
                        order: 2;
                    }

                    width: 100%;
                    margin: 7px 0;
                    order: 3;
                }

                .cats-btn {
                    padding: 0;
                    height: auto;
                    width: 100%;

                    .text {
                        font-size: 17px;
                        font-family: med;

                        span {
                            display: none;
                        }
                    }
                }

                .cats-dispaly {
                    position: static;
                    width: 100%;
                }

                .cats-div {
                    box-shadow: none;
                    padding: 0 15px;

                    li {
                        margin: 7px 0;

                        .cat-link {
                            height: auto;
                            background-color: #fff;
                            padding: 0;

                            &.level-2-link {
                                &:after {
                                    left: 0;

                                    #{$ltr} & {
                                        right: 0;
                                        left: auto;
                                    }
                                }
                            }

                            .menu-img {
                                display: none;
                            }
                        }
                    }
                }
            }

            .sub-cats-ul {
                height: auto;
                flex-wrap: nowrap;
                width: 100%;
                margin: 0;

                #{$ltr} & {
                    margin: 0;
                }

                .sub-cats-li {
                    width: 100%;
                }
            }


        }
    }
}