$text:#1a1a1a;
$back:#f5f5f5;
$sec-nav:#4c4c4c;
$blue:#215cab;
$header:#e3362e;
$border:#e5e5e5;
$input-border:#d7d7d7;
$red:#e72025;
$green:#0dc143;
$grey:#999;
$price:#808080;
$footer:#8fd4ff;
$social:#1a4a89;
$copy:#f7f7f7;

$ltr: "html[dir='ltr']";