body {
    position: relative;
    font-family: tajwal;
    text-transform: capitalize;

    &::-webkit-scrollbar {
        background-color: $back;
        width: 7px;
        height: 0px;
        border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $header;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $header $back;
}

.overflow {
    overflow: hidden !important;
}

.container {
    @media (min-width: 1450px) {
        width: 1440px;
    }
}