#loaderSvgWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $back;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    path {
        fill: $red;
        stroke: $red;
    }

    #T1 {
        animation: visible 2s ease .2s infinite;
    }

    #T2 {
        animation: visible 2s ease .4s infinite;
    }

    #T3 {
        animation: visible 2s ease .6s infinite;
    }

    #T4 {
        animation: visible 2s ease .8s infinite;
    }

    #T5 {
        animation: visible 2s ease 1s infinite;
    }

    #T6 {
        animation: visible 2s ease 1.2s infinite;
    }
}




@keyframes visible {
    0% {
        opacity: 1;
        stroke-opacity: 1;
    }

    50% {
        opacity: 0;
        stroke-opacity: 0;
    }

    100% {
        opacity: 1;
        stroke-opacity: 1;
    }
}